/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "josefins";
  src: url("../josefin-sans/JosefinSans-Regular.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "josefins";
}

ol,
ul {
  list-style: decimal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.black {
  background: black;
  color: white;
}

.navbar .pc-nav {
  display: none;
}
.navbar .overlay {
  width: 100vw;
  height: 100vh;
  background: #8A359D;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: -100vh;
  right: 0px;
  transition: all 0.5s ease-in-out;
}
.navbar .overlay .theme {
  display: flex;
}
.navbar .overlay .theme img {
  height: 30px;
}
.navbar .overlay .theme .light-theme {
  position: absolute;
  display: none;
}
.navbar .overlay .witch {
  transform: all 0.5s ease-in;
}
.navbar .overlay .witch .light-theme {
  display: block;
  position: absolute;
}
.navbar .overlay .witch .light-theme .dark-theme {
  position: absolute;
  display: none;
}
.navbar .overlay p {
  font-size: 2.5rem;
}
.navbar .active-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: white;
}
.navbar .active-lines .line {
  transform: rotate(45deg);
  position: absolute;
  background: white;
}
.navbar .active-lines .middle {
  opacity: 0;
}
.navbar .active-lines .line-2 {
  transform: rotate(-45deg);
  position: absolute;
  background: white;
}
.navbar .vincent {
  display: block;
  margin-left: 70vw;
  right: 0;
  top: 0;
  transition: all 2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .mobile-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar .mobile-nav .hamburger {
  position: absolute;
  z-index: 10;
  right: 10px;
  border: 3px solid #701891;
  height: 60px;
  top: 5px;
  width: 65px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.navbar .mobile-nav .hamburger .line {
  background: #701891;
  height: 3px;
  width: 70%;
}

.banner {
  padding-bottom: 3rem;
}
.banner .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.banner .text h2 {
  font-size: 2rem;
  font-weight: 600;
}
.banner .text p {
  font-weight: 200;
  font-size: 1.25rem;
}
.banner .text .btn {
  display: flex;
  justify-content: space-between;
  margin-left: -12px;
}
.banner .text .btn button {
  padding: 10px 25px;
  background: #701891;
  border: none;
  font-weight: 600;
  color: white;
}
.banner .text .btn .button {
  border: 5px solid #701891;
  background: white;
  color: #000;
}
.banner .text img {
  height: 20px;
}
.banner .text .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner .text .links .link-one {
  display: flex;
  gap: 10px;
  align-items: center;
}
.banner .text .links img {
  background: white;
}
.banner .images {
  padding: 3rem 0px;
  display: flex;
  justify-content: space-between;
}
.banner .images img {
  width: 24%;
  height: -moz-fit-content;
  height: fit-content;
}
.banner .images .img {
  margin-top: 20px;
}
.banner .images .top {
  margin-top: 40px;
}

.about {
  margin-top: -30px;
}
.about .text {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .text h2 {
  font-size: 2.5rem;
}
.about .text div {
  display: flex;
  gap: 2%;
}
.about .text div img {
  width: 49%;
}
.about .images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .images img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .images button {
  padding: 10px 30px;
  background: #701891;
  border: none;
}

.services {
  margin-top: -50px;
}
.services .row h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.services .row img {
  height: 64%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .row .text {
  background: #701891;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
  justify-content: center;
  color: white;
}
.services .row .text h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 40px;
}
.services .row .text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services .row .img .images img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 80vh;
}
.services .row .img .images .pic {
  position: absolute;
  bottom: 100px;
  right: -5px;
  height: 30px;
  width: 30px;
}
.services .row .img .images p {
  position: absolute;
  bottom: 100px;
  color: aqua;
}
.services .row .img .images .picture {
  width: 100%;
  height: 80vh;
}

.testimonials {
  padding-top: 80px;
}
.testimonials .right h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 550;
}
.testimonials .right h4 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 550;
}
.testimonials .right .paragraph {
  margin-bottom: 20px;
  font-weight: 550;
}
.testimonials .right .pic-cont {
  position: relative;
}
.testimonials .right .pic-cont img {
  width: 100%;
}
.testimonials .right .pic-cont .forward {
  width: 30px;
  position: absolute;
  background: purple;
  bottom: 5px;
  right: 0;
}
.testimonials .left {
  margin-top: 30px;
}
.testimonials .left .pic-cont {
  position: relative;
}
.testimonials .left .pic-cont img {
  width: 100%;
}
.testimonials .left .pic-cont .forward {
  width: 30px;
  background: purple;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.testimonials .left h3 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 550;
}
.testimonials .left h4 {
  margin-bottom: 20px;
  font-weight: 550;
}

.social h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 40px;
}
.social .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8%;
}
.social .right img {
  width: 33%;
  margin-top: 10px;
}
.social .right .long {
  height: 38vh;
}
.social .right .vin {
  margin-top: 50px;
}
.social .right .img {
  display: none;
}

.follow div {
  display: flex;
  flex-direction: column;
  padding: 3rem 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.follow div button {
  padding: 10px 40px;
  background: #701891;
  border: none;
  color: #fff;
}

.footer {
  background: #701891;
  color: white;
  padding-top: 1rem;
  line-height: normal;
}
.footer img {
  height: 10px;
}
.footer .logo {
  height: 50px;
  background: white;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .container h4 {
  font-size: 1.3rem;
  text-decoration: underline;
  font-weight: 700;
}
.footer .container .division-one {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.footer .container .division-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.footer .container .division-two .footer-two {
  line-height: 26px;
}
.footer .container .division-two .footer-four div {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .navbar .mobile-nav {
    display: none;
  }
  .navbar .overlay {
    display: none;
  }
  .navbar .pc-nav {
    display: block;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .pc-nav .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .pc-nav span {
    color: #701891;
  }
  .navbar .pc-nav .links {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar .pc-nav .links p {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .navbar .pc-nav .links .theme2 {
    display: flex;
  }
  .navbar .pc-nav .links .theme2 img {
    height: 30px;
  }
  .navbar .pc-nav .links .theme2 .dark-theme {
    position: relative;
    display: block;
  }
  .navbar .pc-nav .links .theme2 .light-theme {
    position: absolute;
    display: none;
    z-index: -1;
  }
  .navbar .pc-nav .links .witch .light-theme {
    display: block;
    position: relative;
    z-index: 5;
  }
  .navbar .pc-nav .links .witch .dark-theme {
    position: absolute;
    display: none;
    height: 0px;
  }
  .banner .text h2 {
    font-size: 1.5rem;
  }
  .banner .text p {
    font-size: 1rem;
    font-weight: normal;
  }
  .banner .text button {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: normal;
  }
  .banner .images img {
    height: 100%;
  }
  .banner .images .img {
    margin-top: 30px;
  }
  .about img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about .img {
    margin-top: 50px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: -20px;
  }
  .services img {
    height: 60vh;
  }
  .services .images1 {
    height: 70vh;
    margin-bottom: 10px;
  }
  .services .images1 .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .services .images1 .text .h4 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: underline;
  }
}
.social img {
  height: 38vh;
}
.social .vin {
  margin-top: 70px;
}

.testimonials .left {
  margin-top: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .pc-nav .links {
    display: flex;
    gap: 100px;
  }
  .banner {
    padding-bottom: 5rem;
  }
  .banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner .text h2 {
    font-size: 2.5rem;
  }
  .banner .text p {
    font-size: 1.5rem;
    font-weight: 200;
    width: 70%;
    line-height: 30px;
  }
  .banner .text button {
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: 200;
  }
  .banner .text .button {
    margin-right: 50px;
  }
  .banner .images {
    display: flex;
    gap: 12px;
  }
  .banner .images img {
    height: 100%;
  }
  .banner .images .img {
    margin-top: 75px;
  }
  .about .text .text-one {
    margin-left: 10vw;
  }
  .about .text div {
    margin-top: 20px;
  }
  .about .text div img {
    width: 41%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about .text div .img {
    margin-top: 129px;
  }
  .services .img {
    display: flex;
  }
  .services .img .images1 {
    width: 30vw;
    background: red;
  }
  .services .img .images1 .text {
    width: 30vw;
  }
  .services .images img {
    top: 620px;
  }
  .services .images p {
    top: 620px;
  }
  .testimonials .right .margin {
    margin-left: 10rem;
    margin-top: 70px;
  }
  .social .right .img {
    margin-top: 200px;
    display: block;
  }
  .social .right img {
    width: 15vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    height: 70vh;
  }
  .social .right .vin {
    margin: 0px;
  }
  .social .right .long {
    height: 70vh;
  }
  .footer {
    display: flex;
  }
  .footer .division-one {
    display: flex;
    flex-direction: row;
  }
  .footer .division-one .footer-one {
    position: relative;
  }
  .footer .division-one .footer-three {
    position: absolute;
    left: 30vw;
  }
  .footer .division-two {
    display: flex;
    flex-direction: row;
  }
  .footer .division-two .footer-two {
    position: relative;
  }
  .footer .division-two .footer-four {
    position: absolute;
    right: 30vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */